You're given the following dataset, containing information about a year's worth of weather. Using this data, calculate the percent of time it was snowing each month. Note: this will require manipulating and classifying the existing data.

To help get you started, below is code (Python) to import the dataset:

In [1]:
# Import libraries
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# Import data
weather_2012 = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/weather_2012.csv', parse_dates=True, index_col='Date/Time')
# Preview data
weather_2012.head()

                     Temp (C)  ...               Weather
Date/Time                      ...
2012-01-01 00:00:00      -1.8  ...                   Fog
2012-01-01 01:00:00      -1.8  ...                   Fog
2012-01-01 02:00:00      -1.8  ...  Freezing Drizzle,Fog
2012-01-01 03:00:00      -1.5  ...  Freezing Drizzle,Fog
2012-01-01 04:00:00      -1.5  ...                   Fog

[5 rows x 7 columns]

In [2]:
weather_2012['Snowing'] = [0]*weather_2012.shape[0]
weather_2012.head()

                     Temp (C)  ...  Snowing
Date/Time                      ...
2012-01-01 00:00:00      -1.8  ...        0
2012-01-01 01:00:00      -1.8  ...        0
2012-01-01 02:00:00      -1.8  ...        0
2012-01-01 03:00:00      -1.5  ...        0
2012-01-01 04:00:00      -1.5  ...        0

[5 rows x 8 columns]

In [3]:
possible_weather = list(weather_2012['Weather'].unique())

In [4]:
possible_weather

['Fog',
 'Freezing Drizzle,Fog',
 'Mostly Cloudy',
 'Cloudy',
 'Rain',
 'Rain Showers',
 'Mainly Clear',
 'Snow Showers',
 'Snow',
 'Clear',
 'Freezing Rain,Fog',
 'Freezing Rain',
 'Freezing Drizzle',
 'Rain,Snow',
 'Moderate Snow',
 'Freezing Drizzle,Snow',
 'Freezing Rain,Snow Grains',
 'Snow,Blowing Snow',
 'Freezing Fog',
 'Haze',
 'Rain,Fog',
 'Drizzle,Fog',
 'Drizzle',
 'Freezing Drizzle,Haze',
 'Freezing Rain,Haze',
 'Snow,Haze',
 'Snow,Fog',
 'Snow,Ice Pellets',
 'Rain,Haze',
 'Thunderstorms,Rain',
 'Thunderstorms,Rain Showers',
 'Thunderstorms,Heavy Rain Showers',
 'Thunderstorms,Rain Showers,Fog',
 'Thunderstorms',
 'Thunderstorms,Rain,Fog',
 'Thunderstorms,Moderate Rain Showers,Fog',
 'Rain Showers,Fog',
 'Rain Showers,Snow Showers',
 'Snow Pellets',
 'Rain,Snow,Fog',
 'Moderate Rain,Fog',
 'Freezing Rain,Ice Pellets,Fog',
 'Drizzle,Ice Pellets,Fog',
 'Drizzle,Snow',
 'Rain,Ice Pellets',
 'Drizzle,Snow,Fog',
 'Rain,Snow Grains',
 'Rain,Snow,Ice Pellets',
 'Snow Showers,Fog',
 'Moderate Snow,Blowing Snow']

In [5]:
for item in possible_weather:
    if "snow" in item or "Snow" in item:
      print(item)

Snow Showers
Snow
Rain,Snow
Moderate Snow
Freezing Drizzle,Snow
Freezing Rain,Snow Grains
Snow,Blowing Snow
Snow,Haze
Snow,Fog
Snow,Ice Pellets
Rain Showers,Snow Showers
Snow Pellets
Rain,Snow,Fog
Drizzle,Snow
Drizzle,Snow,Fog
Rain,Snow Grains
Rain,Snow,Ice Pellets
Snow Showers,Fog
Moderate Snow,Blowing Snow

In [16]:
total_snow = 0
for item in possible_weather:
    if "snow" in item or "Snow" in item:
      count = weather_2012[weather_2012['Weather'] == item].shape[0]
      total_snow += count

percentage_of_time_its_snowing = total_snow*100 / weather_2012.shape[0]

In [17]:
percentage_of_time_its_snowing

6.637067395264117